section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 10px 10px 10px #00000010;
  border: 1px dotted #444;
  border-radius: 8px;
  z-index: 999;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  text-align: left;
}

.form-group img {
  width: 40px;
}

.form-group input,
.form-group textarea {
  background-color: rgba(128, 128, 128, 0);
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px dotted #444;
  margin-top: 5px;
  z-index: 999;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  background-color: rgb(196, 52, 52);
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 20px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: #ddd;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(240, 111, 111);
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.sp-only a {
  text-decoration: none;
  color: brown;
}

.sp-only {
  background: url("../img/top/background-white.jpg");
  text-align: center;
}

.bg-white {
  padding-bottom: 4%;
}

.footer-pc {
  margin-top: 0;
}

.sp-only .form-group input,
.sp-only .form-group textarea {
  padding: 5px;
  font-size: 18px;
  border: 1px dotted #444;
  margin-top: 5px;
}
